@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

// Colors
$black-primary-color: #1E1E1E;
$white-primary-color: #FFF9F9;
$brown-primary-color: #AF5808;
$grey-primary-color: #D9D9D9;
$blue-link-color: #538EC4;

// Fonts
$title-font: 'Rajdhani', sans-serif;
$text-font: 'Open Sans', sans-serif;

// Fonts size
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$text-size: 1rem;