@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// Colors
$background-primary-color: #F4E7D5;
$background-secondary-color: #FFF9F9;
$background-third-color: #F9B74B;
$button-color: #716EE8;
$blue-link-color: #538EC4;

// Fonts
$title-font: 'Rajdhani', sans-serif;
$text-font:  "Roboto", sans-serif;

// Fonts size
$h1-font-size: 1.8rem;
$h2-font-size: 1.2srem;
$text-size: 1rem;

// Border
$primary-border-radius: 2rem;
$button-border-radius: 0.2rem;
$input-border-radius: 0.2rem;