@use 'reset';
@use 'vars';
@import "~bootstrap/scss/bootstrap";

body {
  margin: auto;
  font-family: vars.$text-font;
  font-size: vars.$text-size;
  background-color: vars.$background-primary-color;
}

// Titres
h1 {
  font-family: vars.$title-font;
  font-size: vars.$h1-font-size;
  color: vars.$background-secondary-color;
  text-align: center;
}

h2 {
  color: black;
  font-size: vars.$h2-font-size;
  margin-bottom: 2rem;
}

h3 {
  color: vars.$black-font-color;
  font-size: vars.$h3-font-size;
}

h4 {
  color: vars.$black-font-color;
  font-size: vars.$h4-font-size;
  margin-bottom: 0;
}

// Scrollbar
* {
  scrollbar-width: 0.6rem;
  scrollbar-color: vars.$button-color vars.$background-secondary-color;
}
*::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0;
}
*::-webkit-scrollbar-track {
  background: vars.$background-secondary-color;
  border-radius: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: vars.$button-color;
  border-radius: 1.5rem;
  border: 0.2rem solid vars.$background-secondary-color;
}