@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

.app-container {

  width: 80%;
  margin: 3rem auto 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .search-movie-container {
    width: 30%;
  }

  .movie-detail-container {
    width: 70%;
  }

}
