@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

.movieslist {

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .more-results-button {
      width: 10rem;
      height: 2rem;
      font-size: vars.$text-size;
      background-color: vars.$button-color;
      font-family: vars.$text-font;
      color: vars.$background-secondary-color;
      border: none;
      border-radius: vars.$button-border-radius;
      padding: 0;
      align-self: center;
      margin-top: 2rem;
    
      &:hover {
        background-color: vars.$button-color-hover;
      }
    }

    .button-hidden {
      visibility: hidden;
    }
  }

  &-detail {
    height: 20rem;
    overflow-y: auto;

    &-container {
      overflow: hidden;
      border-radius: vars.$input-border-radius;
    }

    .list-group {
      border-radius: 0 !important;

      &-item {
        background-color: vars.$background-secondary-color !important;
        border-left: 0 !important;
        border-top: 0 !important;
        border-color: vars.$background-primary-color !important;

        p {
          margin-bottom: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
 
}

.message-container {
  margin: auto;
  height: 2rem;

  p {
    font-size: 0.9rem ;
    color: vars.$background-secondary-color;
    text-align: center;
  }
}



// Responsive design
@media screen and (max-width: 420px) {
  .no-display {
    display: none;
  }
}

