@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

.searchbar {

  &-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  &-form {
    height: 2rem;
    font-family: vars.$text-font;
    display: flex;
    justify-content: space-between;
  }

  &-bar {
    height: 100%;
    // width: 15rem;
    width: 100%;
    border: none;
    border-radius: vars.$input-border-radius;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: vars.$text-font;
    background-color: #ffd289;

    &::placeholder {
      color: vars.$background-secondary-color;
      font-size: vars.$text-size;
    }

  }
  
  &-button {
    width: 2rem;
    height: 100%;
    background-color: vars.$button-color;
    font-family: vars.$text-font;
    color: vars.$background-secondary-color;
    border: none;
    border-radius: vars.$button-border-radius;
    padding: 0 !important;
  }
 
  
}

