@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

.search {
  
  &-form {
    height: 2rem;
    font-family: vars.$text-font;
  }

  &-bar {
    height: 100%;
    width: 15rem;
    border: none;
    border-radius: vars.$primary-border-radius;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: vars.$text-font;
  }
  
  &-button {
    height: 100%;
    background-color: vars.$brown-primary-color;
    font-family: vars.$text-font;
    color: vars.$white-primary-color;
    border: none;
    border-radius: vars.$primary-border-radius;
  }
 
  
}

