@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

// .header-container {
//   width: 100%;
//   height: 5rem;
//   background-color: vars.$black-primary-color;
//   display: flex;
//   justify-content: center;
// }