@use '../../Styles/vars.scss';
@use '../../Styles/index.scss';

.movie-container {
  width: 80%;
  height: 80%;
  margin: auto;
  align-self: center;

  .presentation-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;

    .informations-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .informations-detail {
        margin-right: 2rem;
      }
    }

    .badge {
      margin-right: 0.5rem !important;
      margin-bottom: 1rem !important;
      background-color: vars.$background-primary-color !important;
      color: vars.$black-font-color !important;
      font-family: vars.$text-font !important;
      font-weight: 400 !important;
      font-size: 0.8rem !important;

      &.vote-average {
        background-color: vars.$background-third-color !important;
        color: vars.$background-secondary-color !important;
      }    
    }
  }

  .poster-container {
    width: 153px;
    min-width: 153px;
    height: 231px;
    border-radius: vars.$poster-border-radius;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      object-fit: fill;
    }
  }

  .description-container {
    height: 10rem;
    overflow-y: auto;

    p {
      margin-right: 1rem;
    }
  }

}

.default-image {
  align-self: center;
}


// Responsive design

@media screen and (max-width: 400px) {

  .movie-container {
    // flex-direction: column;
    h2 {
      text-align: center;
      margin-top: 2rem;
    }

    .presentation-container {
      flex-direction: column-reverse;
      align-items: flex-start;

      .poster-container {
        margin-right: 0;
        display: flex;
        align-self: center;
      }
      
      .informations-detail {
        margin-bottom: 1rem;
      }
    }

    .description-container {
      height: 100%;
    }
  }

}